body {
  padding-bottom: 40px;
  margin:0 auto;

}

.navbar{
margin-bottom: 60px;
background-color:rgb(27,87,158);

}
.navbar-brand{
padding: 0px;
width:250px;
height:50px;
width:50px;
margin-right: 170px;
}


.form-signin {
  max-width: 380px;
  max-height: 350px;
  padding: 15px;
  margin: 0 auto;
  background-color:#eee;
  border-style:dashed  ;
  border-color: black;
  border-width: 1px;
  position:center;
}

.form-signin-heading{
	text-align: center;
}

.form-signin .form-signin-heading
{
  margin-bottom: 20px;
}

.form-signin .form-control {
  position: center;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .btn {
background-color:rgb(27,87,158);

}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.navbar{
margin-bottom: 60px;
background-color:rgb(27,87,158);

}
.navbar-brand{
padding: 0px;
width:250px;
height:50px;
width:50px;
margin-right: 170px;
}
.navbar-default .navbar-nav>li>a{
color: white;

}
.navbar-default .navbar-nav>li>a:hover{
color: #FFFF66;

}

.topbar {
padding-bottom:55px;
text-align:center;
}

.topbar .col-md-2 {
padding-bottom:10px;
padding-top:10px;
}
.topbar .col-md-3{
	padding-bottom: 10px;
	padding-top:10px;
}

.topbar .col-md-4 {
padding-bottom:10px;
padding-top:10px;
}

.AddLineRow {
padding-bottom:50px;
}

.AddLineRow .col-md-4  {
background-color:rgb(27,87,158);
padding:15px;
}

.AddLineRow .col-md-2  {
background-color:rgb(27,87,158);
padding:15px;
}
.ButtonRow  {
text-align:center;
}

.red{
color:red;
}

.green{
color:green;
}
.blue{
color:blue;
}


